.main-container{
    .content{
        height: calc(100vh - (5.25rem + 5rem));
        margin-top: 5.25rem;
        margin-left: 28rem;
        transition: all 200ms ease-in-out;
        padding: 2.5rem;
        &.full{
            margin-left: 8rem;
        }
    }
}