:root{
    font-size: 62.5%;
    --bg-color: #f4f6f9;
    --sidenav-color: #343a40;
    --sidenav-menu-active: #1e2125;
    --box-shadow: 0 0 1px rgba(0,0,0,.125),
        0 1px 3px rgba(0,0,0,.2);
}

